In [1]:
# Import basic package
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


# Load dataset
penguins_size = pd.read_csv('penguins_size.csv')
penguins_size.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [6]:
# Load Data
penguins_lter = pd.read_csv('penguins_lter.csv')
penguins_lter.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [7]:
penguins_lter.value_counts()

studyName  Sample Number  Species                              Region  Island     Stage               Individual ID  Clutch Completion  Date Egg  Culmen Length (mm)  Culmen Depth (mm)  Flipper Length (mm)  Body Mass (g)  Sex     Delta 15 N (o/oo)  Delta 13 C (o/oo)  Comments
PAL0708    7              Adelie Penguin (Pygoscelis adeliae)  Anvers  Torgersen  Adult, 1 Egg Stage  N4A1           No                 11/15/07  38.9                17.8               181.0                3625.0         FEMALE  9.18718            -25.21799          Nest never observed with full clutch.    1
           8              Adelie Penguin (Pygoscelis adeliae)  Anvers  Torgersen  Adult, 1 Egg Stage  N4A2           No                 11/15/07  39.2                19.6               195.0                4675.0         MALE    9.46060            -24.89958          Nest never observed with full clutch.    1
           29             Adelie Penguin (Pygoscelis adeliae)  Anvers  Biscoe     Adult, 1 Egg Stage  N18A1          No                 11/10/07  37.9                18.6               172.0                3150.0         FEMALE  8.38404            -25.19837          Nest never observed with full clutch.    1
           30             Adelie Penguin (Pygoscelis adeliae)  Anvers  Biscoe     Adult, 1 Egg Stage  N18A2          No                 11/10/07  40.5                18.9               180.0                3950.0         MALE    8.90027            -25.11609          Nest never observed with full clutch.    1
           39             Adelie Penguin (Pygoscelis adeliae)  Anvers  Dream      Adult, 1 Egg Stage  N25A1          No                 11/13/07  37.6                19.3               181.0                3300.0         FEMALE  9.41131            -25.04169          Nest never observed with full clutch.    1
PAL0809    69             Adelie Penguin (Pygoscelis adeliae)  Anvers  Torgersen  Adult, 1 Egg Stage  N32A1          No                 11/11/08  35.9                16.6               190.0                3050.0         FEMALE  8.47781            -26.07821          Nest never observed with full clutch.    1
           70             Adelie Penguin (Pygoscelis adeliae)  Anvers  Torgersen  Adult, 1 Egg Stage  N32A2          No                 11/11/08  41.8                19.4               198.0                4450.0         MALE    8.86853            -26.06209          Nest never observed with full clutch.    1
PAL0910    121            Adelie Penguin (Pygoscelis adeliae)  Anvers  Torgersen  Adult, 1 Egg Stage  N66A1          No                 11/17/09  36.2                17.2               187.0                3150.0         FEMALE  9.04296            -26.19444          Nest never observed with full clutch.    1
           122            Adelie Penguin (Pygoscelis adeliae)  Anvers  Torgersen  Adult, 1 Egg Stage  N66A2          No                 11/17/09  37.7                19.8               198.0                3500.0         MALE    9.11066            -26.42563          Nest never observed with full clutch.    1
           131            Adelie Penguin (Pygoscelis adeliae)  Anvers  Torgersen  Adult, 1 Egg Stage  N73A1          No                 11/23/09  38.5                17.9               190.0                3325.0         FEMALE  8.98460            -25.57956          Nest never observed with full clutch.    1
           132            Adelie Penguin (Pygoscelis adeliae)  Anvers  Torgersen  Adult, 1 Egg Stage  N73A2          No                 11/23/09  43.1                19.2               197.0                3500.0         MALE    8.86495            -26.13960          Nest never observed with full clutch.    1
           139            Adelie Penguin (Pygoscelis adeliae)  Anvers  Dream      Adult, 1 Egg Stage  N79A1          No                 11/16/09  37.0                16.5               185.0                3400.0         FEMALE  8.61651            -26.07021          Nest never observed with full clutch.    1
           140            Adelie Penguin (Pygoscelis adeliae)  Anvers  Dream      Adult, 1 Egg Stage  N79A2          No                 11/16/09  39.7                17.9               193.0                4250.0         MALE    9.25769            -25.88798          Nest never observed with full clutch.    1
Name: count, dtype: int64